.card {
  background-color: none;
  padding: 0;
  border: none;
  position: relative;
  width: 100%;
  cursor: pointer;
}

.card a {
  text-decoration: none;
}

.card__heading {
  margin-top: var(--space-s);
}
