.footer {
  margin-block-start: var(--space-m-l);
  border-top: 1px solid var(--color-grey);
  padding-block: var(--space-m-l);
  display: flex;
  justify-content: space-between;
}

.footer a {
  color: var(--color-dark);
  text-decoration: none;

  &:hover {
    text-decoration: underline;
  }
}
