.grid {
  --min: var(--card-width);
  --gap: var(--space-l-xl);

  display: grid;
  grid-gap: var(--gap);
  /* min() with 100% prevents overflow
  in extra narrow spaces */
  grid-template-columns: repeat(auto-fit, minmax(min(100%, var(--min)), 1fr));
  grid-auto-flow: dense;
}

.grid__item--full-width {
  grid-column: 1 / -1;
}
