.header,
.header > div {
  padding-block: var(--space-m-l);
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header a {
  text-decoration: none;
  color: inherit;
}

.header > div {
  padding-block: 0;
}

.header nav {
  margin-inline: var(--space-m);
}
