.reel {
  --scrollbar-background: var(--color-secondary);
  --scrollbar-foreground: var(--color-primary);
  --min: var(--card-width);

  display: flex;
  block-size: auto;
  overflow-x: auto;
  overflow-y: hidden;
  scrollbar-color: var(--scrollbar-foreground) var(--scrollbar-background);
}

.reel::-webkit-scrollbar {
  block-size: 1rem;
}

.reel::-webkit-scrollbar-track {
  background-color: var(--scrollbar-background);
}

.reel::-webkit-scrollbar-thumb {
  background-color: var(--scrollbar-background);
  background-image: linear-gradient(
    var(--scrollbar-background) 0,
    var(--scrollbar-background) 0.25rem,
    var(--scrollbar-foreground) 0.25rem,
    var(--scrollbar-foreground) 0.75rem,
    var(--scrollbar-background) 0.75rem
  );
}

.reel > * {
  flex: 0 0 auto;
  min-width: var(--min);
}

.reel > * + * {
  margin-inline-start: var(--space-l-xl);
}

.reel.overflowing {
  padding-block-end: 1rem;
}
