.sidebar {
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
}

.sidebar > :first-child {
  flex-basis: 28rem;
  flex-grow: 1;
}

.sidebar > :last-child {
  flex-basis: 0;
  flex-grow: 999;
  min-inline-size: 50%;
}
